#weatherheader {
  
    color:white;
    padding: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../images/clouds-3526558_1920.jpg);
}

.search-header {
    margin-top: 10px;
}

.card-header {
    background-color: aqua;
}